html{
    
  font-family: 'Tangerine', serif;
    font-size: 46px;

}

.container-nav{
    align-content: center;
    text-decoration: none;
    text-decoration-color: aqua;
    font-size: 46px;
    width: 800px;
    padding: 20px;
    margin: 10px;
    
}
.container-nav a:active{
    border: solid 1px blue;
    background: cadetblue;
    border-radius: 15px;
    
}
a{
    text-decoration: none;
}
h1{
    font-size: 46px;
    align-content: center;
    
}
#about{
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    max-width:800px;
    display: inline-block;
    align-content: center;
    background-color: aqua;
    font-size: 46px;
    
}
.container-menu{
    margin-bottom: 20px;
    margin-top: 20px;
align-content: center;
    display: inline-block;
    max-width: 800px;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 46px;
}
#menu{
font-feature-settings: normal;
    font-family: sans-serif;
    width: 800px;
}
.container-menu{
    font-size: 36px;
}
.table{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    align-content: center;
    width: 800px;
     border-collapse: separate;
  border-spacing: 4px;
       font-stretch:extra-condensed;
    padding: 20px;
      background-color: ghostwhite;
    font-size: 30px;
    
}
.table,
th,
td {
  border: 1px solid #cecfd5;
}
th,
td {
  padding: 10px 15px;

}

.green {
    text-transform: capitalize;
    border-color: azure;
  
    background-clip: border-box;
    padding: 20px;
    
}

#contacts{
    font-size:25px;
        
}
.primary-container{
     border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 800px;
    font-size: 46px;
}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}
.container-order{
    font-size:46px;
     width: 800px;
     font-family: 'Tangerine', serif;
}

h2{
    color: green;
    font-size: 46px;
}
.primary-nav{
    align-content: center;
    text-decoration: none;
    text-decoration-color: aqua;
    font-size: 46px;
    width: 800px;
    padding: 20px;
    margin: 10px;
}
a{
    text-decoration: none;
}
.primary-nav a:active{
    border: solid 1px blue;
    background: cadetblue;
    border-radius: 15px;
